div#div-createProduct
    div
        h2 Opret produkt
    div
        label(for="input-name") Produkt navn:
        input(type="text" name="input-name")

        label(for="input-produkt-id") vareid: 
        input(type="text" name="input-produkt-id")

        label(for="input-amount") mængde: 
        input(type="text" name="input-amount")

        label(for="dropdown-unit") enheder: 
        select(name="dropdown-unit")
            each option in ['stk', 'm', 'cm', 'mm', 'kg', 'g']
                option(value = option)= option