include includes/head

body 
    button
        <i class="fa-sharp fa-solid fa-left-long"></i>
        a.knap(href='/') Tilbage

    h1 Adminside

    button.admin
        //- <i class="fa-solid fa-truck-front"></i>
        i.fa-solid.fa-truck-front
        a(href="/createVan") Opret Lagerbil
    
    button.admin
        <i class="fa-solid fa-user"></i>
        a(href="/createElectrician") Opret Elektrikker 


div
    h2 Varevogn:
        select#dropdown-select-van(name='select-van')
            each van in vans 
                option(value=option)=van.licensePlate
        button(type='button' id="delete-van")
            ion-icon(name="trash-outline")
    h2 Medarbejdere:
        select#dropdown-select-electrician(name='select-electrician')
            each electrician in electricians
                //- option(value=option)=electrician.employeeId
                option(value=electrician.employeeId)=electrician.name 
        button(type='button' id="delete-electrician")
            ion-icon(name="trash-outline")



