include includes/head

body 
    button
        a.knap(href='/') Tilbage

    h1 AdminSide 

    button.admin 
        a(href="/createVan") Opret Lagerbil
    
    button.admin 
        a(href="/createElectrician") Opret Elektrikker 


div
    h2 Varevogn:
        select#dropdown-select-van(name='select-van')
            each van in vans 
                option(value=option)=van.licensePlate
        button(type='button' id="delete-van")
            ion-icon(src="icons/trash-outline.svg")



