include includes/head

body 
    a(href='/')
        button
            i.fa-sharp.fa-solid.fa-left-long
            span.knap Tilbage

    h1 Adminside

    a(href="/createVan") 
        button.admin
            i.fa-solid.fa-truck-front
            span.knap Opret Lagerbil
        
    a(href="/createElectrician")
        button.admin
            i.fa-solid.fa-user
            span.knap Opret Elektrikker 

div
    h2 Varevogn:
        select#dropdown-select-van(name='select-van')
            each van in vans 
                option(value=option)=van.licensePlate
        button(type='button' id="delete-van" class='delete-buttons-in-admin-page')
            ion-icon(name="trash-outline")
    h2 Medarbejdere:
        select#dropdown-select-electrician(name='select-electrician')
            each electrician in electricians
                //- option(value=option)=electrician.employeeId
                option(value=electrician.employeeId)=electrician.name 
        button(type='button' id="delete-electrician" class='delete-buttons-in-admin-page')
            ion-icon(name="trash-outline")



