include includes/head

body 
    button
        <i class="fa-sharp fa-solid fa-left-long"></i>
        a.knap(href='/') Tilbage

    h1 Adminside

    button.admin
        <i class="fa-solid fa-truck-front"></i>
        a(href="/createVan") Opret Lagerbil
    
    button.admin
        <i class="fa-solid fa-user"></i>
        a(href="/createUser") Opret Bruger 


div
    h2 Varevogn:
        select#dropdown-select-van(name='select-van')
            each van in vans 
                option(value=option)=van.licensePlate
        button(type='button' id="delete-van" class='delete-buttons-in-admin-page')
            ion-icon(name="trash-outline")
    h2 Medarbejdere:
        select#dropdown-select-user(name='select-user')
            each user in users
                //- option(value=option)=electrician.employeeId
                option(value=user.employeeId)=user.name 
        button(type='button' id="delete-user" class='delete-buttons-in-admin-page')
            ion-icon(name="trash-outline")



