//- include includes/head
meta(charset = "UTF-8")
link(rel="stylesheet", href="css/styles.css")
script(type="module" src="js/buttonFunctions.js" defer)   
title= "Lagerstyring"
script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
script(nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


body 
    button
        i.fa.sharp.fa.solid.fa.left.long
        a.knap(href='/admin') Tilbage

    div
        h2 Varevogn:
            select#dropdown-select-van(name='select-van')
                each van in vans 
                    option(value=option, id=`option-${van.licensePlate}`)=van.licensePlate

        h2 Medarbejdere:
            select#dropdown-select-user(name='select-user')
                each user in users
                    option(value=user.employeeId, id=`option-${user.employeeId}`)=user.name 

    button.assign
        i.fa.solid.fa.user
        a(href="/assignUserToVan") Tilknyt 
