include includes/head

body
    h2 Opret Elektrikker
    
    label(for="input-name") Navn:
    input(type="text" name="input-name")

    label(for="input-cprNumber") CPR: 
    input(type="text" name="input-cprNumber")