include includes/head

- var licensePlate = van.licensePlate

body
    button
        <i class="fa-sharp fa-solid fa-left-long"></i>
        a.knap(href='/') Tilbage

    form(action='/product', method='post')

        div#div-createProduct
        div
            h2 Opret produkt
            h3 #{licensePlate}
        div
            label(for="input-name") Produkt navn:
            input.inputtag(type="text" name="input-name")

            label(for="input-produkt-id") Vare ID: 
            input.inputtag(type="text" name="input-produkt-id")

            label(for="input-amount") Mængde: 
            input.inputtag(type="text" name="input-amount")

            label(for="dropdown-unit") Enhed: 
            select(name="dropdown-unit")
                each option in ['stk', 'm', 'cm', 'mm', 'kg', 'g']
                    option(value = option)= option

        button(id="create-product-btn" class="button-create" type="submit") 
            <i class="fa-solid fa-box-open"></i>Opret vare