include includes/head

body
    h2 Opret Lagerbil
    
    label(for="input-licensePlate") Registreringsnummer:
    input.input-vanLicensePlate(type="text" name="input-name")

    label(for="input-vanOwner") Navn: 
    input.input-vanOwner(type="text" name="input-produkt-id")


    button.button-createVan Opret Lagerbil