include includes/head

body
    button
        <i class="fa-sharp fa-solid fa-left-long"></i>
        a.knap(href='/admin') Tilbage

    form(action=`/electrician`, method="post")

        div#div-create-electrician
        div 
            h2 Opret Elektrikker
        div
            label(for="input-name") Navn:
            input.input-electricianName(type="text" name="name")

            label(for="input-employeeId") Medarbejder nr.: 
            input.input-employeeId(type="text" name="employeeId")

        button(id="create-electrician-btn" class="button-create-electrician" type="submit") Opret medarbejder