include includes/head

body
    h2 Opret Lagerbil
    
    label(for="input-licensePlate") Registreringsnummer:
    input(type="text" name="input-name")

    label(for="input-LagerbilEjer") Navn: 
    input(type="text" name="input-produkt-id")

    button(type="submit") Indsend