include includes/head


body
    button
        <i class="fa-sharp fa-solid fa-left-long"></i>
        a.knap(href='/') Tilbage

    form(action='/product', method='post')

        div#div-createProduct
        div
            h2 Opret produkt
        div
            label(for="input-name") Produkt navn:
            input.inputtag(type="text" name="input-name")

            label(for="input-produkt-id") Vare ID: 
            input.inputtag(type="text" name="input-produkt-id")

            label(for="input-amount") Mængde: 
            input.inputtag(type="text" name="input-amount")

            label(for="dropdown-unit") Enhed: 
            select(name="dropdown-unit")
                each option in ['stk', 'm', 'cm', 'mm', 'kg', 'g']
                    option(value = option)= option


            label(for='select-van') Vælg bil: 
            select#dropdown-select-van(name='select-van')
                each van in vans
                    option(value=option, id=`option-${van.licensePlate}`)=van.licensePlate

        button(id="create-product-btn" class="button-create" type="submit") 
            <i class="fa-solid fa-box-open"></i>Opret vare