include includes/head

body
    h1 Bil:
        select(name='my-dropdown')
            each option in ['Olivers Bil', 'Bil 2', 'Bil 3']
                option(value=option)= option
    


    button.admin 
        a(href="/admin") Admin
    

    each product in products
        div.product-container
                p #{product.productName}
                p På lager: 5
                div.buttons
                    button.delete-button(type='button')
                        ion-icon(src="icons/trash-outline.svg")
                    button.plusminus(type='button', data-proudctid=product.id, on-click='justerAntal(this, "op")') +
                    button.plusminus(type='button', data-productid=product.id, on-click='justerAntal(this, "ned")') -

    button.addProduct
        a(href="/createProduct") Tilføj ny vare

