include includes/head

body
    h1 Bil:
        select(name='my-dropdown')
            each option in ['Olivers Bil', 'Bil 2', 'Bil 3']
                option(value=option)= option
    
    each vare in varer
        div.varebokse
                p #{vare.varenavn}
                p På lager: 5
                div.knapper
                    button.delete-button(type='button')
                        ion-icon(src="icons/trash-outline.svg")
                    button(type='button') +
                    button(type='button') -

    button#addButton Tilføj ny vare
