include includes/head


body
    h1 Bil:
        select(name='my-dropdown')
            each option in ['Olivers Bil', 'Bil 2', 'Bil 3']
                option(value=option)= option
    
    div
        p Dette er et varenavn
        p På lager: 5
        button(type='button') +
        button(type='button') -

