include includes/head

  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
  }

  h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

  select {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
  }

  .product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }

  .product-container-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ced5da;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    margin-top: 20px;

  }

  .buttons{
    display: flex;
    flex-direction: column;
  }

  .plusminus{
    margin: 2px;
  }

  .addProduct{ 
    margin-top: 10px
  }

  p {
    font-size: 18px;
    color: #333;
    margin: 0;
  }

  button {
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;  
    margin-left: 5px;
    margin-top: 5px;
  }

  button a {
    color: #fff;
    text-decoration: none;
  }

  button:hover {
    background-color: #555;
  }

  label{
    display: block
  }
